{% extends 'base.html' %}
{% block upload %}
<style>
  .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>

<div class="container">
  <div class="card mx-auto">
  <div class="dropdown mx-auto mt-3 mb-3">
    <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      CSE
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-item">
        <a href="{% url 'cse_watch' %}">Watch</a>
      </li>
      <li class="dropdown-divider"></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">Read</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <form method="GET" action="{% url 'books' %}">
            <input type='hidden' name='next' value='cse' />
            <button tabindex="-1" class="dropdown-item" type="submit">Books</button>
            </form>
          </li>
          
          <li class="dropdown-item">
            <form method="GET" action="{% url 'articles' %}">
              <input type='hidden' name='next' value='cse' />
              <button tabindex="-1" class="dropdown-item" type="submit">Articles</button>
            </form>
          </li>
          <li class="dropdown-item">
            <form method="GET" action="{% url 'papers' %}">
              <input type='hidden' name='next' value='cse' />
              <button tabindex="-1" class="dropdown-item" type="submit">Question Papers</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="dropdown mx-auto mt-3 mb-3">
    <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      ECE
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-item">
        <a href="{% url 'ece_watch' %}">Watch</a>
      </li>
      <li class="dropdown-divider"></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">Read</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <form method="GET" action="{% url 'books' %}">
              <input type='hidden' name='next' value='ece' />
            <button tabindex="-1" class="dropdown-item" type="submit">Books</button>
            </form>
          </li>
          <li class="dropdown-item">
            <form method="GET" action="{% url 'articles' %}">
              <input type='hidden' name='next' value='ece' />
              <button tabindex="-1" class="dropdown-item" type="submit">Articles</button>
            </form>
          </li>
          <li class="dropdown-item">
            <form method="GET" action="{% url 'papers' %}">
              <input type='hidden' name='next' value='ece' />
              <button tabindex="-1" class="dropdown-item" type="submit">Question Papers</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="dropdown mx-auto mt-3 mb-3">
    <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      IT
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-item">
        <a href="{% url 'it_watch' %}">Watch</a>
      </li>
      <li class="dropdown-divider"></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">Read</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <form method="GET" action="{% url 'books' %}">
              <input type='hidden' name='next' value='it' />
              <button tabindex="-1" class="dropdown-item" type="submit">Books</button>
            </form>
          </li>
            <li class="dropdown-item">
            <form method="GET" action="{% url 'articles' %}">
              <input type='hidden' name='next' value='it' />
              <button tabindex="-1" class="dropdown-item" type="submit">Articles</button>
            </form>
          </li>
          <li class="dropdown-item">
            <form method="GET" action="{% url 'papers' %}">
              <input type='hidden' name='next' value='it' />
              <button tabindex="-1" class="dropdown-item" type="submit">Question Papers</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
  </div>
  
   
{% endblock %}
